<div class="col-6 offset-2">
    <fieldset>
      <legend>Cadastro de Palavras</legend>
      <form>
        <div class="form-group">
          <label for="idPalavra">Palavra</label>
          <input id="idPalavra" type="text" class="form-control" placeholder="Informe a Palavra">
        </div>
        <div class="form-group">
          <label for="idSinonimo">Sinônimo</label>
          <input id="idSinonimo" type="text" class="form-control" placeholder="Informe o Sinônimo">
        </div>
        <div class="form-group">
          <label for="idSignificado">Significado</label>
          <input id="idSignificado" type="text" class="form-control" placeholder="Informe o Significado">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-dark">Registrar</button>
        </div>
      </form>
    </fieldset>
  </div>