<div class="card border-primary mb-3 w-75">
    <div class="card-body text-primary">
      <h5 class="card-title">Seja Bem-vindo ao JoasDicionario!</h5>
      <p class="card-text">O melhor dicionario da América Látina!</p>
      <p class="card-text">Todos podem ajudar o JoasDicionario!</p>
      <p class="card-text">Para adicionar uma nova palavra, clique no botão "New Words" e cadastre o formulário</p>
      <p class="card-text">E então imediatamente sua palavra ira aparecer em nosso site!</p>
      
    </div>
  </div>